<div>
    <h4>이벤트 선택 <span class="btn btn-danger" ng-click="toggle(events)">전부 토글</span></h4>
    <form class="form-inline">
        <div class="form-group" ng-repeat="event in events"
             style="margin:5px;padding:5px 10px; border:1px solid #ddd; border-radius: 3px">
            <label>{{event.name}}({{event.type}})</label>
            <input type="checkbox" ng-model="event.select">
        </div>
    </form>
</div>
<div>
    <h4>차트 표현 <span class="btn btn-danger" ng-click="toggle(types)">전부 토글</span></h4>
    <form class="form-inline">
        <div class="form-group" ng-repeat="type in types"
             style="margin:5px;padding:5px 10px; border:1px solid #ddd; border-radius: 3px">
            <label>{{type.name}}</label>
            <input type="checkbox" ng-model="type.select">
        </div>
    </form>
</div>

<div ng-show="series.length>0">
    <h4>차트</h4>
    <canvas id="line" class="chart chart-line" chart-data="data"
            chart-labels="labels" chart-series="series" chart-options="options"
            chart-dataset-override="datasetOverride" chart-click="onClick">
    </canvas>

    <h4>표</h4>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>일자</th>
            <th ng-repeat="select in series">{{select}}</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="date in labels">
            <td scope="row">{{date}}</td>
            <td ng-repeat="select in series">{{data[$index][$parent.$index]}}</td>
        </tr>
        </tbody>
    </table>
</div>