<div>
    <h5>이벤트 선택</h5>
    <form class="form-inline">
        <div class="form-group" ng-repeat="event in events"
             style="margin:5px;padding:5px 10px; border:1px solid #ddd; border-radius: 3px">
            <label>{{event.name}}({{event.type}})</label>
            <input type="checkbox" ng-model="event.select">
        </div>
    </form>
</div>
<div>
    <h5>차트 표현</h5>
    <form class="form-inline">
        <div class="form-group" ng-repeat="type in types"
             style="margin:5px;padding:5px 10px; border:1px solid #ddd; border-radius: 3px">
            <label>{{type.name}}</label>
            <input type="checkbox" ng-model="type.select">
        </div>
    </form>
</div>
<div class="btn btn-lg btn-primary" ng-click="drawChart()">차트 그리기</div>
<canvas id="line" class="chart chart-line" chart-data="data"
        chart-labels="labels" chart-series="series" chart-options="options"
        chart-dataset-override="datasetOverride" chart-click="onClick">
</canvas>