<h1>좋아요 로그</h1>
<div class="row">
    <form class="form-inline">
        <div class="form-group col-md-4 col-xs-4">
            <label>UserID : </label>
            <input type="text" ng-model="query.userid" class="form-control" value="">
        </div>
        <div class="form-group col-md-4 col-xs-4">
            <label>TargetID : </label>
            <input type="text" ng-model="query.targetid" class="form-control" value="">
        </div>
        <button ng-click="search()" class="btn btn-default col-md-1 col-xs-2">Search</button>
    </form>
</div>
<table class="table table-striped">
    <thead>
    <tr>
        <th>ID</th>
        <th>보낸사람</th>
        <th>받은사람</th>
        <th>메세지</th>
        <th>응답</th>
        <th>보낸시간</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="log in logs">
        <th scope="row">{{log.id}}</th>
        <td>id:{{log.sender.id}} name:{{log.sender.name}}</td>
        <td>id:{{log.receiver.id}} name:{{log.receiver.name}}</td>
        <td>{{log.message}}</td>
        <td>{{log.reply}}</td>
        <td>{{log.sentAt | date}}</td>
    </tr>
    </tbody>
</table>
<nav aria-label="Page navigation" ng-if="size>0">
    <ul class="pagination">
        <li>
            <a href="#" aria-label="Previous" ng-click="prevPage()">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li ng-class="{active:query.page===i}" ng-repeat="i in (size/query.size).toArray() | limitTo : 20"
            ng-click="query.page=i">
            <a>{{i+1}}</a></li>
        <li>
            <a href="#" aria-label="Next" ng-click="nextPage()">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>