<h1>좋아요 로그</h1>
<div class="row">
    <form class="form-inline">
        <div class="form-group col-md-4 col-xs-4">
            <label>UserID : </label>
            <input type="text" ng-model="query.userid" class="form-control" value="">
        </div>
        <div class="form-group col-md-4 col-xs-4">
            <label>TargetID : </label>
            <input type="text" ng-model="query.targetid" class="form-control" value="">
        </div>
        <button ng-click="search()" class="btn btn-default col-md-1 col-xs-2">Search</button>
    </form>
</div>
<table class="table table-striped">
    <thead>
    <tr>
        <th>ID</th>
        <th>보낸사람</th>
        <th>받은사람</th>
        <th>메세지</th>
        <th>응답</th>
        <th>보낸시간</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="log in logs">
        <th scope="row">{{log.id}}</th>
        <td><user-simple user="log.sender"></user-simple></td>
        <td><user-simple user="log.receiver"></user-simple></td>
        <td>{{log.message}}</td>
        <td>{{log.reply}}</td>
        <td>{{log.sentAt | date :'yyyy-MM-dd hh:mm:ss'}}</td>
    </tr>
    </tbody>
</table>
<pagenation page="query.page" size="query.size" all-size="size"></pagenation>
