<div class=" users">
    <h1>프로필 심사</h1>
    <form>
        <div class="form-group bottom0">
            <div class="col-md-9 col-xs-12">
                <div class="form-group row">
                    <label class="col-md-1 col-xs-1 control-label">타입</label>
                    <div class="col-md-2 col-xs-3">
                        <select ng-model="query.reviewType" class="form-control">
                            <option value="">전체</option>
                            <option value="REVIEW">가입심사</option>
                            <option value="UPDATE">업데이트</option>
                        </select>
                    </div>
                    <label class="col-md-1 col-xs-1 control-label">상태</label>
                    <div class="col-md-2 col-xs-3">
                        <select ng-model="query.reviewStatus" class="form-control">
                            <option value="">심사중</option>
                            <option value="R">거절</option>
                        </select>
                    </div>
                    <label class="col-md-1 col-xs-1 control-label">한번에</label>
                    <div class="col-md-2 col-xs-3">
                        <select ng-model="query.size" ng-options="size as size for size in sizes" class="form-control">
                        </select>
                    </div>
                    <button class="btn btn-default col-md-2 col-xs-2" ng-click="search()">Search</button>
                </div>

            </div>
        </div>
    </form>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th class="hide-sm">이름</th>
            <th>Main</th>
            <th>성별</th>
            <th class="hide-sm">타입</th>
            <th class="hide-sm">등록일자</th>
            <th>비고</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-if="users.length ==0">
            <td colspan="7">해당 검색 결과가 없습니다.</td>
        </tr>
        <tr ng-repeat="user in users">
            <td><a ui-sref="review({id:user.id})">{{user.id}}</a></td>
            <td class="hide-sm">{{user.name}}</td>
            <td>
                <div>
                    <span ng-if="user.reviewType==='UPDATE'">요청</span>
                    <img-list list="user.imageRequestList"></img-list>
                </div>
                <div ng-if="user.imageList" style="padding-bottom:10px;margin-bottom:10px;border-bottom:1px solid #ccc">
                    <span ng-if="user.reviewType==='UPDATE'">현재</span>
                    <img-list list="user.imageList"></img-list>
                </div>
            </td>
            <td>{{user.gender}}</td>
            <td class="hide-sm">{{user.reviewType}}</td>
            <td class="hide-sm">{{user.reviewRegisteredAt | date}}</td>
            <td>
                <update-user-btn-set user="user"></update-user-btn-set>
            </td>

        </tr>
        </tbody>
    </table>
    <pagenation page="query.page" size="query.size" all-size="size"></pagenation>
</div>