<div class="users">
    <h1>전체 사용자</h1>
    <form>
        <div class="form-group">
            <div class="col-md-9 col-xs-12">
                <div class="form-group row">
                    <label class="col-md-1 control-label">ID </label>
                    <div class="col-md-2">
                        <input type="text" class="form-control" ng-model="query.id">
                    </div>
                    <label class="col-md-1 control-label">Email</label>
                    <div class="col-md-3">
                        <input type="text" class="form-control" ng-model="query.email">
                    </div>
                    <label class="col-md-1 control-label">이름</label>
                    <div class="col-md-2">
                        <input type="text" class="form-control" ng-model="query.name">
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-9 col-xs-12">
                <div class="form-group row">
                    <label class="col-md-1 control-label" uib-tooltip="최근 로그인 시점">로그인</label>
                    <div class="col-md-2">
                        <input type="date" uib-datepicker class="form-control" ng-model="minApproveDate">
                    </div>
                    <label class="col-md-1 control-label">나이(min)</label>
                    <div class="col-md-3">
                        <input type="text" number-only class="form-control" ng-model="query.minAge">
                    </div>
                    <label class="col-md-1 control-label">나이(max)</label>
                    <div class="col-md-2">
                        <input type="text" number-only class="form-control" ng-model="query.maxAge">
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-9 col-xs-12">
                <div class="form-group row">
                    <label class="col-md-1 control-label">점수(min)</label>
                    <div class="col-md-3">
                        <input type="text" number-only class="form-control" ng-model="query.minScore">
                    </div>
                    <label class="col-md-1 control-label">점수(max)</label>
                    <div class="col-md-2">
                        <input type="text" number-only class="form-control" ng-model="query.maxScore">
                    </div>

                    <label class="col-md-1 control-label" tooltip-placement="bottom" uib-tooltip="
                    HTW_SEOUL,
                    HTW_DAEJEON,
                    HTW_CHUNGBUK,
                    HTW_CHUNGNAM,
                    HTW_BUSAN,
                    HTW_ULSAN,
                    HTW_JEONBUK,
                    HTW_INCHEON,
                    HTW_GANGWON,
                    HTW_GYEONGGI,
                    HTW_DAEGU,
                    HTW_GYEONGNAM,
                    HTW_GYEONGBUK,
                    HTW_JEJU,
                    HTW_JEONNAM,
                    HTW_GWANGJU">지역코드</label>
                    <div class="col-md-2">
                        <input type="text" class="form-control" ng-model="query.district">
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group bottom0">
            <div class="col-md-9 col-xs-12">
                <div class="form-group row">
                    <label class="col-md-1 col-xs-1 control-label">상태</label>
                    <div class="col-md-2 col-xs-3">
                        <select ng-model="query.status" class="form-control">
                            <option value="">전체</option>
                            <option value="N">활동중</option>
                            <option value="P">가입만</option>
                            <option value="W">심사중</option>
                            <option value="S">휴면</option>
                        </select>
                    </div>
                    <label class="col-md-1 col-xs-1 control-label">성별</label>
                    <div class="col-md-2 col-xs-3">
                        <select ng-model="query.gender" class="form-control">
                            <option value="">전체</option>
                            <option value="F">여자</option>
                            <option value="M">남자</option>
                        </select>
                    </div>
                    <label class="col-md-1 col-xs-1 control-label">한번에</label>
                    <div class="col-md-2 col-xs-3">
                        <select ng-model="query.size" ng-options="size as size for size in sizes" class="form-control">
                        </select>
                    </div>
                    <button class="btn btn-default col-md-2 col-xs-2" ng-click="search()">Search</button>
                </div>

            </div>
        </div>
    </form>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Email</th>
            <th>Main</th>
            <th>이름</th>
            <th>평점</th>
            <th>성별</th>
            <th>상태</th>
            <th>등록일자</th>
            <th>비고</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-if="users.length==0">
            <td colspan="10">해당 검색 결과가 없습니다.</td>
        </tr>
        <tr ng-repeat="user in users">
            <td><a ui-sref="user({id:user.id})">{{user.id}}</a></td>
            <td>{{user.email}}</td>
            <td><img img-default ng-src="{{user.mainImageUrl}}"></td>
            <td>{{user.name}}</td>
            <td>{{user.score}}</td>
            <td ng-class="{redbold:user.gender!=='M'}">{{user.gender}}</td>
            <td>{{user.status}} {{user.statusName}}</td>
            <td>{{user.regDttm | date :'yyyy-MM-dd hh:mm:ss'}}</td>
            <td>
                <a ui-sref="user({id:user.id})" class="btn btn-default" role="button">보기</a>
            </td>
        </tr>
        </tbody>
    </table>
    <pagenation page="query.page" size="query.size" all-size="size"></pagenation>
</div>