<div class="users">
    <h1>음성 채팅</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>보이스</th>
            <th>유저명</th>
            <th>등록일자</th>
            <th>상태</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-if="voices.length==0">
            <td colspan="7">해당 검색 결과가 없습니다.</td>
        </tr>
        <tr ng-repeat="voice in voices | orderBy:'status'">
            <td>{{voice.id}}</td>
            <td>
                <audio src="{{voice.voiceuripath}}" controls></audio>
            </td>
            <td>
                <user-simple user="voice.user"></user-simple>
            </td>
            <td>{{voice.createdAt | date :'yyyy-MM-dd hh:mm:ss'}}</td>
            <td>
                {{voice.status}}
            </td>
        </tr>
        </tbody>
    </table>
    <pagenation page="query.page" size="query.size" all-size="size"></pagenation>
</div>

