<b>{{user.result}} {{user.reject_description ? '거절 : '+user.reject_description:''}}</b>
<div ng-if="!user.result">
    <div ng-if="user.reviewType==='REVIEW'">
        <a ng-click="approve(users, user,1)" class="btn btn-default" role="button">가입만(1)</a>
        <a ng-click="approve(users, user,3)" class="btn btn-default" role="button">사용만(3)</a> <br>
        <a ng-click="approve(users, user,4.3)" class="btn btn-default" role="button" ng-if="user.gender==='M'">평가만(4.3)</a>
        <a ng-click="approve(users, user,4.3)" class="btn btn-default" role="button">소개,평가(5)</a>
        <a ng-click="approve(users, user,7)" class="btn btn-default" role="button">인기피처링(7)</a> <br>
        <a ng-click="approve(users, user)" class="btn btn-danger" role="button">거절</a>
    </div>
    <div ng-if="user.reviewType==='UPDATE'">
        <a ng-click="approve(users, user,1, true)" class="btn btn-default" role="button">수락</a>
        <a ng-click="approve(users, user, null, true)" class="btn btn-danger" role="button">거절</a>
    </div>
</div>