<div class="container">
    <h1>보이스 승인 관리</h1>
    <table class="table">
        <thead>
        <tr>
            <th>유저 ID</th>
            <th>성별</th>
            <th>등록된 음성</th>
            <th>보이스</th>
            <th>승인</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="voice in voices">
            <th scope="row"><a ui-sref="user({id:voice.user.id})">{{voice.user.id}}</a></th>
            <td>{{voice.user.gender}}</td>
            <th>{{voice.voiceFile}}</th>
            <td>
               <a href="{{voice.voiceFileRequested}}">{{voice.voiceFileRequested}}</a>
            </td>
            <td><span class="btn btn-primary" ng-click="approve(voice.id)">승인</span><span ng-click="reject(voice.id)" class="btn btn-warning">거절</span></td>
        </tr>
        </tbody>
    </table>

</div>