.color-green {
  color: #16A085 !important;
}
.color-red {
  color: #C0392B !important;
}
.color-blue {
  color: #2980B9 !important;
}
.color-yellow {
  color: #F1C40F !important;
}
.color-grey {
  color: #BDC3C7 !important;
}
.color-darkgrey {
  color: #999 !important;
}
