.vex-content {
  font-family: "Noto Sans KR" !important;
}
.vex-overlay {
  animation: vex-fadein 0.2s;
  -webkit-animation: vex-fadein 0.2s;
  -moz-animation: vex-fadein 0.2s;
  -ms-animation: vex-fadein 0.2s;
  -o-animation: vex-fadein 0.2s;
  -webkit-backface-visibility: hidden;
  position: fixed;
  background: rgba(0, 0, 0, 0.4);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.vex.vex-closing .vex-overlay {
  animation: vex-fadeout 0.2s;
  -webkit-animation: vex-fadeout 0.2s;
  -moz-animation: vex-fadeout 0.2s;
  -ms-animation: vex-fadeout 0.2s;
  -o-animation: vex-fadeout 0.2s;
  -webkit-backface-visibility: hidden;
}
.vex-content {
  animation: vex-fadein 0.2s;
  -webkit-animation: vex-fadein 0.2s;
  -moz-animation: vex-fadein 0.2s;
  -ms-animation: vex-fadein 0.2s;
  -o-animation: vex-fadein 0.2s;
  -webkit-backface-visibility: hidden;
  background: #fff;
}
.vex.vex-closing .vex-content {
  animation: vex-fadeout 0.2s;
  -webkit-animation: vex-fadeout 0.2s;
  -moz-animation: vex-fadeout 0.2s;
  -ms-animation: vex-fadeout 0.2s;
  -o-animation: vex-fadeout 0.2s;
  -webkit-backface-visibility: hidden;
}
