<div ng-controller="confirmCtrl">
    <div class="vex-dialog-message">
        <h5>거절 사유 선택</h5>
        <div class="vex-body padding-bottom-10">
            <div ng-repeat="option in ['본인을 잘 확인할 수 있는 서로 다른 두 장 이상의 사진이 필요합니다ㅜ',
            '여러장을 합친 사진은 메인사진으로 사용이 불가합니다ㅜ',
            '얼굴을 가리는 필터는 프로필 사진으로 사용할 수 없습니다ㅜ',
            '선글라스를 쓴 사진은 메인으로 사용할 수 없습니다ㅜ',
            '사진이 너무 어둡거나 흐립니다ㅜ',
            '옆으로 누워진 사진은 메인으로 사용할 수 없습니다ㅜ',
            '타인이 나온 사진은 이용할 수 없습니다ㅜ',
            '증명사진은 이용할 수 없습니다ㅜ']" ng-click="select(option)"><a class="btn btn-white">{{option}}</a></div>
        </div>
    </div>
    <div class="vex-dialog-buttons">
        <button type="button" class="vex-dialog-button-secondary vex-dialog-button vex-last" ng-click="close()">Cancel
        </button>
    </div>
</div>