<div ng-controller="confirmCtrl">
    <div class="vex-dialog-message">
        <h5>거절 사유 선택</h5>
        <div class="vex-body padding-bottom-10">
            <div ng-repeat="option in [
            '본인을 잘 확인할 수 있는 서로 다른 두 장 이상의 사진이 필요합니다ㅜ',
            '여러장을 합친 사진은 메인사진으로 사용이 불가합니다ㅜ',
            '얼굴을 가리는 필터는 프로필 사진으로 사용할 수 없습니다ㅜ',
            '선글라스를 쓴 사진은 메인으로 사용할 수 없습니다ㅜ',
            '사진이 너무 어둡거나 흐립니다ㅜ',
            '옆으로 누워진 사진은 메인으로 사용할 수 없습니다ㅜ',
            '다른 사람과 함께 나온 사진은 사용 할 수 없습니다ㅜ',
            '증명사진은 이용할 수 없습니다ㅜ',
            '얼굴 일부를 가린 사진은 프로필 메인 사진으로 사용 할 수 없습니다.',
            '얼굴이 명확하게 나오지 않은 사진은 프로필 사진으로 사용 할 수 없습니다.',
            '기본 두장의 사진은 얼굴이 명확하게 보이는 사진을 등록 해주세요.',
            '사진이 정상적으로 등록 되지 않았으니 다시 등록 부탁 드려요.',
            '개인 연락처 기재에 따른 계정 블럭에 주의해주세요.',
            '메인사진은 인물이 사진의 가운데에 있는 사진을 사용해주세요~',
            '타인의 사진으로 이용 하는 것은 불가능 합니다. 회원님의 사진을 등록 해주세요.'
            ]" ng-click="select(option)"><a class="btn btn-white">{{option}}</a></div>
        </div>
    </div>
    <input placeholder="수동 사유 입력" ng-model="reason" class="form-control">
    <button ng-show="reason" class="btn-white" ng-click="select(reason)">[{{reason}}] 사유로 거절</button>
    <div class="vex-dialog-buttons">
        <button type="button" class="vex-dialog-button-secondary vex-dialog-button vex-last" ng-click="close()">취소 </button>
    </div>
</div>